.background{
    background-image: url(../img/cartemere.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 99.8%;
    min-height: 99.8%;
}
.grostitre{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    text-align: center;
    margin-top: 20%;
}