{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ 'css/accueil.css' }}">
    <div class="background">
        <div class="grostitre">
            <h1>Allan chiron</h1>
            <h3>Bienvenue sur mon porte folio</h3>
        </div>
    </div>
{% endblock %}
