#lebtssio{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;

  .descriptionbts {
    color: #fff;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    width: 50%;

    h5{
      line-height: 2.5rem;
    }
  }
}

#btsoption{
  width: 100%;

  .option{
    display: flex;
  }

  .descriptionoption{
    width: 50%;
    text-align: center;
    background: transparent;
    color: cornsilk;
    font-size: 25px;
    align-self: center;

    h5{
        line-height: 1.2rem;
        margin: 0 4rem 3rem 4rem;
    }

    ul{
      text-align: left;
    }
  }
  .imgslam, .imgsisr {
    width: 50%;
    text-align: center;
    background-size: cover;

    img{
      width: 100%;
      height: 100%;
    }
  }
}

@media  screen and (max-width: 830px) {
  #lebtssio {
    font-size: 15px;
    .descriptionbts {
      width: 90%;
    }
  }

  #btsoption {

    .option{
      justify-content: center;

      .descriptionoption{
        width: 90%;
        margin-bottom: 2rem;

        h5{
            margin: 0 1rem 3rem 1rem;
        }
      }

      .imgslam, .imgsisr{
        display: none;
      }
    }
  }
}

@media  screen and (max-width: 500px) {
  #lebtssio {
    font-size: 12px;
    padding-top: 2rem;
  }
}