<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{ 'css/base.css' }}">
        <link href='https://unpkg.com/css.gg@2.0.0/icons/css/menu-round.css' rel='stylesheet'>
        </head>
    <body>
    <nav class="navbar">
        <a class="titre" href="{{ path('accueil') }}">PorteFolio</a>
        <input type="checkbox" id="btnliste">
        <label for="btnliste"><i class="gg-menu-round"></i></label>
        <div class="menu">
            <ul class="list">
                <li><a class="nav-link" href="{{ path('accueil') }}">Accueil</a></li>
                <li><a class="nav-link" href="">Profil</a></li>
                <li><a class="nav-link" href="">Le BTS SIO</a></li>
                <li><a class="nav-link" href="">Compétences</a></li>
                <li><a class="nav-link" href="">Veille technologique</a></li>
                <li><a class="nav-link" href="">Contact</a></li>
            </ul>
        </div>
    </nav>
    {% block body %}

    {% endblock %}
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}
    </body>

</html>
